.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid
}
.error-message {
  color:red
}

.active-filter {
  display: inline-block;
  margin: 5px;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: #0275FF;
  padding: 8px 14px 9px;
  font-size: 15px;
  border-radius: 4px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;}

.active-filter:hover{
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}
.passive-filter{

  display: inline-block;
  margin: 5px;
  outline: 0;
  cursor: pointer;
  border: 1px solid #0275FF;
  color: #0275FF;
  font-weight: 700;
  background: #fff;
  padding: 8px;
  font-size: 15px;
  border-radius: 4px;
  height: 36px;
  transition: all 80ms linear;}
.passive-filter:hover{
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
  background: rgba(248,248,248,1);
}

.is-done{
  opacity: 0.5;
  margin: 5px;
}
.task{
  margin: 5px;
}